.footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-socials a,
.footer-info a{
    transition: color 0.3s ease;
}

.footer-info a {
    font-weight: bold;
}

.footer-socials a:hover,
.footer-info a:hover {
    color: #7575ae;
}

@media (min-width: 460px) and (max-width: 720px)  {
    .footer-container{
        display: flex;
        justify-content: center;
    }

    .footer-wrapper{
      max-width: 500px;
      justify-content: center;

    }
    .footer-info {
        gap: 10px
    }
    .footer-info a {
        font-weight: normal;
    }
    .footer-socials {
        margin-top: 10px;
    }
}

@media (max-width: 460px) {
    .footer-wrapper{
        max-width: 500px;
        justify-content: center;
    }
    .footer-info {
        gap: 10px
    }
    .footer-info a {
        font-weight: normal;
    }
    .footer-socials {
        margin-top: 10px;
    }
}