.footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    /*padding: 20px 0;*/
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-socials a,
.footer-info a{
    transition: color 0.3s ease;
}

.footer-info a {
    font-weight: bold;
}

.footer-socials a:hover,
.footer-info a:hover {
    color: #7575ae;
}
